.craue_formflow_current_step {
    font-weight: bold;
    color: green
}

label {
    padding-right: 20px;
}

input[type=text] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}