<!DOCTYPE html>
<html>
<head>
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet"/>
    {% endblock %}
</head>
<body>

<div style="color: red">{{ form_errors(form) }}</div>
{% if confirm_message != '' %}
    <div style="color: green; font-weight: bold">{{ confirm_message }}</div>
{% else %}
    <div>
        Steps:
        {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    </div>
    {{ form_start(form) }}
    {{ form_rest(form) }}
    <button type="submit" class="craue_formflow_button_last">Continue</button>

    {{ form_end(form) }}

{% endif %}
</body>
</html>